@keyframes cd-loading-mask {
  0%, 100% {
    transform: scaleX(0);
  }
  40%, 60% {
    transform: scaleX(1);
  } 
}

@keyframes cd-reveal-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cd-reveal-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}