$base-color: #292b2c;
$dark-gray: darken($base-color, 5%);
$coral: #FF7F50;
$coral-dark: desaturate(#FF4704, 5%);
$light-gray: lighten(#CFD3CA, 15%);
$coral-light: lighten($coral, 25%);

$aqua: #54A8AB;
$deep-blue: lighten(#071B2D, 10%);
$blue-black: #030306;

$hamburger-padding-x: 8px;
$hamburger-padding-y: 8px;

$ubuntu: 'Ubuntu', arial, sans-serif;