$base-color: #292b2c;
$coral: #FF7F50;
$coral-dark: darken($coral, 15%);
$light-gray: lighten(#CFD3CA, 15%);
$coral-light: lighten($coral, 25%);

$aqua: #54A8AB;
$deep-blue: lighten(#071B2D, 10%);
$blue-black: #030306;

$hamburger-padding-x: 8px;
$hamburger-padding-y: 8px;