@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700,700i');

@font-face {
  font-family: 'Governor';
  src: url('../fonts/governor/governor.ttf');
}

$base-color: #292b2c;
$red: #B60000;
$light-gray: #CFD3CA;

$aqua: #54A8AB;
$deep-blue: #071B2D;
$blue-black: #030306;


body {
  background: $light-gray url(../img/bob.png) 50% 50% no-repeat;
}

a {
  transition: color .2s, background .2s;
  color: $aqua;

  &:hover {
    text-decoration: none;
    color: $blue-black;
  }
}

$hamburger-padding-x: 8px;
$hamburger-padding-y: 8px;

body,
.header {
  @media (min-width: 960px) {
    padding: 0 15%;
  }
}

button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed;

  a {
    color: $light-gray;

    &:hover {
      text-decoration: none;
      color: $aqua;
    }
  }
}

.navbar-brand {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1rem;
  font-size: 1.75rem;
  padding: 0.75rem;

  i {
    font-style: normal;
    letter-spacing: 1px;
    position: relative;
    left: -4px;
    font-weight: 700;
  }

  span {
    font-size: 0.85rem;
    color: #EEF;
    text-transform: lowercase;
    letter-spacing: 8px;

    @media (max-width: 576px) {
      display: none;
    }
  }
}

.navbar {
    flex-direction: row;
    width: 302px;
    justify-content: space-between;
    position: relative;

    @media (max-width: 575px) {
      display: none;
    }

    .nav-item {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 162%;
        top: 0;
        width: 2px;
        height: 24px;
        transform: rotate(20deg);
        border-radius: 2px;
        background: $light-gray;
      }
    }
}

.hamburger {
  background: lighten( $base-color, 15% );
  width: 44px;
  padding: $hamburger-padding-x $hamburger-padding-y 2px;
  z-index: 10;
  opacity: 1;

  @media (min-width: 576px) {
    display: none;
  }
}

.hamburger-inner {
  background: #FFF;
  width: 25px;
  height: 3px;
  
  &::before,
  &::after {
    background: #FFF;
    width: 25px;
    height: 3px;
  }
}

#flyoutMenu {
  width: 100vw;
  height: 100%;
  background-color: $deep-blue;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0, .52, 0, 1);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;

  @media (min-width: 576px) {
    display: none;
  }

  .nav-item {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 24px;
    text-transform: lowercase;
    opacity: 0;
    transform: translate3d(0, 33%, 0);
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media (min-width: 568px) and (orientation: landscape) {
      flex-basis: 50%;
    }
  }

  &.show {
    transform: translate3d(0, 0, 0);

    .nav-item {
      transform: translate3d(0, 0, 0);
      opacity: 1;

      $n: 3;
      $delay: 0.1;

      @for $i from 1 through $n {
        $item-delay: $delay * ($i + 3);
      

        &:nth-of-type(#{$i}) {
          transition-delay: #{$item-delay}s;
        }
      }
    }
  }
}

main {
  background: $red;
  display: block;
  height: 250px;
}
