<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!--<link rel="shortcut icon" type="image/png" href="/favicon.png">-->
    <!--<link rel="stylesheet" href="/dist/styles.css">-->
  </head>
  <body>
    <div id="flyoutMenu" class="mobile-nav">
      <a href="/" class="mobile-nav__link" title="home page">Home</a>
      <a href="/#portfolio" class="mobile-nav__link" id="portfolioLink" title="portfolio">Portfolio</a>
      <a href="/about" class="mobile-nav__link" title="about">About</a>
      <a href="/contact" class="mobile-nav__link" title="contact">Contact</a>
      <div class="mobile-nav__link shareicons">
        <a class="shareicons__item" href="https://www.linkedin.com/in/jason-e-kerr/" class=""><i class="fa fa-linkedin" aria-hidden="true" title="linked in"></i></a>
        <a class="shareicons__item" href="https://github.com/pixeltight" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a class="shareicons__item" href="mailto:jkerr013@gmail.com" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </div>
    </div>
    <header class="header fixed-top">
    <a class="navbar-brand" href="/">Jason<span class="navbar-brand--blue">Kerr</span><br>
      <span class="navbar-brand--small">frontend development</span></a>
      <nav class="navbar">
        <a class="navbar__link {{#if active_home}}active{{/if}}" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="navbar__link {{#if active_portfolio}}active{{/if}}" href="/#portfolio">Portfolio</a>
        <a class="navbar__link {{#if active_about}}active{{/if}}" href="/about/">About</a>
        <a class="navbar__link {{#if active_contact}}active{{/if}}" href="/contact/">Contact</a>
      </nav>
      <button id="burgerToggle" class="hamburger hamburger--boring" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </header>
    <section class="pagebody">
      {{{body}}}
    </section>
    <footer class="footer">
      <div class="footer__item">
        <div class="footer__text">&copy; 2017 Jason Kerr</div>
      </div>
      <div class="footer__item">
        <div class="footer__icon">
          <a href="https://www.linkedin.com/in/jason-e-kerr/" class="shareicons__item"><i class="fa fa-linkedin" aria-hidden="true" title="linked in"></i></a>
        </div>
        <div class="footer__icon">
          <a class="shareicons__item" href="https://github.com/pixeltight" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <div class="footer__icon">
          <a class="shareicons__item" href="mailto:jkerr013@gmail.com" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
