<div class="pagebody__section">
  <h2 class="pagebody__header">About Me</h2>
  {{!--<div id="canvas_root"></div>--}}
  <p class="pagebody__lede">Hello, this is Jason! I&apos;m a Frontend Developer and UI Designer from 
    Florida.</p>
  <p class="pagebody__text">I specialize in frontend development. I find it amazing what is possible within the web browser canvas from desktop on down to mobile scale. I have many years of experience in HTML, CSS and javascript and have seen this incredible evolution firsthand.</p>
</div>
<div class="pagebody__section pagebody__section--dark">
    <p class="pagebody__text">I also have quite a bit of experience on the server and database end so I can be a non-blocking resource for full stack development. I am most fluent in PHP and WordPress for the market and SEO driven sites, but I have very relevant experience with Java/JSTL and .NET architectures. It's all quite a bit to take in but I have always found the projects and the learning experienes to be fun and rewarding.</p>
</div>
