<div id='about'>
  <h1>About Jason Kerr</h1>
  <div id="canvas_root"></div>
  <p>Hello, this is Jason!</p>
  <p>I specialize in frontend development. I find it amazing what is possible within the web browser canvas from desktop on down to mobile scale. I have many years of experience in HTML, CSS and javascript and have seen this incredible evolution firsthand.</p>
  
  <p>Lately, I have been honing my chops in CSS preprocessing animation and flexbox layout, the peculiarites of Relative Width Design and grid based frameworks. I am quite adept at advanced HTML5 markup and features that have enhanced meaningful markup to a remarkable degree. And to round out the frontend development triad, I have delved deeply into javascript techniques for user interaction, presenting data and site performance. I am also well versed in frontend architecture, version controls for collaborations as well as build methodologies which have become paramount as web applications come more to resemble acutal software with each passing month.</p>
  <p>I also have quite a bit of experience on the server and database end so I can be a non-blocking resource for full stack development. I am most fluent in PHP and WordPress for the market and SEO driven sites, but I have very relevant experience with Java/JSTL and .NET architectures. It's all quite a bit to take in but I have always found the projects and the learning experienes to be fun and rewarding.</p>
</div>
