<div class="pagebody__content">
  <h2>{{client.name}}</h2>
  <div class="imgcontainer">
    <img src="{{client.imgSrc}}" class="imgcontainer__image" />
    <a href="/clients/{{prevPage}}" class="imgcontainer__button imgcontainer__button--prev">&#10094;</a>
    <a href="/clients/{{nextPage}}" class="imgcontainer__button imgcontainer__button--next">&#9654;</a>
  </div>
</div>
