<div style="padding-top: 60px;">
<h1>Client Info</h1>
Welcome
  {{client.name}}
  {{client.description}}
  <a href="/clients/{{prevPage}}">previous</a>
  <a href="/clients/{{nextPage}}">next</a>
</div>