<div class="pagebody__section">

  <h2 class="pagebody__header">Contact Me</h2>
  <p class="pagebody__text">Please use the contact form below to contact me directly as I prefer not to use Facebook or Twitter. It's merely a personal decision, I am certainly not trying to make a statement or change anyone's minds. If that were the case, I would be all over social media :)
    <span class="required-notification">All fields required</span>
  </p>
</div>
<div class="pagebody__section pagebody__section--dark">
  <!--empty container for errors -->

  <form action='/contact' name="contact-form" id="contact-form" class="contact-form" method="post">
    <h3 class="contact-form__header">Send me an email</h3>
    <fieldset>
      <ul class="form-fields">
      <li class="form-fields__item">
        <label class="form-fields__label" for="name">Name:</label><br>
        <input name="user[name]" class="form-fields__input" id="name" type="text" maxlength="40">
        <i></i>
      </li>
      <li class="form-fields__item">
        <label class="form-fields__label" for="email">Email:</label><br>
        <input name="user[email]" class="form-fields__input" id="email" type="text" maxlength="40">
        <i></i>
        <span class="form-hint">Proper format: <i>name@somthing.com</i></span>
      </li>
      <li class="form-fields__item">
        <label class="form-fields__label" for="message">Message:</label><br>
        <textarea class="form-fields__textarea" name="user[message]" id="message" maxlength="240" cols="40" rows="6"></textarea>
        <i></i>
      </li>
      <ul class="error-block"></ul>
      <li class="form-fields__item">
        <button class="form-fields__button" name="submit" type="submit" value="send">send email</button>
      </li>
      </ul>
    </fieldset>
  </form>
</div>

