<h1>Contact Jason Kerr</h1>

<div class="error-block" style="margin-top: 60px; background: #FFE; height: 150px;">

</div>
  <form action='/contact' name="contact-form" id="contact-form" method="post">
    <fieldset>
      <p>
        <label for="name">name:</label><br>
        <input name="user[name]" id="name" type="text" value="" required>
      </p>
      <p>
        <label for="email">email:</label><br>
        <input name="user[email]" id="email" type="text" value="" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" title="please enter a valid email address"> 
      </p>
      <p>
        <label for="message">message:</label><br>
        <textarea name="user[message]" id="message" value="" required title="message field cannot be blank"></textarea>
      </p>
      <p>
        <button name="submit" type="submit" value="send">send</button>
      </p>
    </fieldset>
  </form>

