html {
  font-size: 100%;
  height: 100%;
  font-family: "pragmatica-web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  color: $base-color;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #FFF;
  //background: rgba(3, 71, 176, 0.1);
}

::selection {
  background: #071b2d;
  color: #FFF;
}

a {
  transition: color .2s, background .2s;
  color: $aqua;

  &:hover {
    text-decoration: none;
    color: $deep-blue;
  }
}

button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  background: darken($deep-blue, 10%);
  padding: 0.75rem 1.5rem;

  @media (min-width: 576px) {
    padding: 1rem 1.5rem;
  }
  
  @media (min-width: 668px) {
    padding: 1rem 5rem;
  }

  @media (min-width: 1024px) {
    padding: 1rem 10rem;
  }
}

.pagebody__section {
  padding: 0 1.5rem;

  //@media (min-width: 576px) {
  @media (min-width: 668px) {
    padding: 0 5rem 0;
  }

  @media (min-width: 1024px) {
    padding: 0 10rem 0;
  }
}
    
.pagebody__section--dark {
  background: #FAFAFA;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.pagebody__header {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  font-weight: 500;
  color: #002;
  font-size: 3rem;
  letter-spacing: -0.25rem;
  text-transform: lowercase;
  margin-bottom: 0.75rem;
  overflow: hidden;
  margin: 6rem 0 0.75rem;

  @media (min-width: 576px) {
    margin-top: 8rem;
  }

  @media (min-width: 746px) {
    font-size: 4rem;
  }
}

.pagebody__header--client {
  font-family: "pragmatica-web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: none;
  font-size: 1.8rem;
  font-weight: lighter;
  letter-spacing: 0;
  font-weight: normal;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.75rem;
  margin-bottom: 0.2rem;

  @media (min-width: 668px) {
    font-size: 2.75rem;
  }

  @media (min-width: 576px) {
    margin-top: 8rem; 
  }
}

.pagebody__lede,
.pagebody__text {
  font-weight: lighter;
  line-height: 1.7rem;
}

.pagebody__lede {
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #444;
  line-height: 2rem;
}
