.contact-form {
  padding: 3.5rem 0;

  .contact-form__header {
    font-weight: normal;
  }

  .form_hint {
    font-size: 0.7rem;
  }

  .required-notification {
    font-size: 0.8rem;
    color: #d45252;
  }

  ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;

    li {
      padding: 12px 12px 12px 0;
      position: relative;

      &:first-of-type {
        border-top: 0;
      }

      &:last-of-type {
        border-bottom: 0;
      }

      label {
        margin-top: 3px;
        display: inline-block;
        float: left;
        font-weight: lighter;
      }

      input, textarea {
        border: 1px solid #CCC;
        width: 100%;
        border-radius: 3px;
        transition: all .25s;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

        & + i {
          position: absolute;
          font-size: 1.5rem;
          color: #FFF;
          border-radius: 50%;
          width: 1.25rem;
          top: 55px;
          height: 1.25rem;
          left: 90%;
          line-height: 1;
          font-family: arial, helvetica, sans-serif;
          display: none;
        
          @media (min-width: 576px) {
            left: 94%;
           }
        }

        &:focus {
          box-shadow: 0 0 6px $aqua;

          &:invalid {
            box-shadow: 0 0 5px #C45252;
            border-color: #B03535;

            & + i {
              display: inline-block;
              background: #C45252;
            
              &:before {
                content: '\2717';
              }
            }
          }

          &:valid {
            box-shadow: 0 0 5px #5cd053;
          }

        }

        &:valid {
        border-color: #5cd053;

        & + i {
            display: inline-block;
            background: #28921F;

            &:before {
              content: '\2713';
            }
          }
        }
      }

      input {
        width: 100%;
        padding: 5px 8px;

        &:after {
          font-family: FontAwesome;
          content: "";
          position: absolute;
          font-size: .08rem;
          color: #B03535;
          z-index: 9999;
          left: 0;
          top: 0;
          background: red;
          width: 12px;
          height: 12px;
        }
      }

      textarea {
        padding: 8px;
      }

      button {
        cursor: pointer;
        background-color: #68b12f;
        background: linear-gradient(top, #68b12f, #50911e);
        border: 1px solid #509111;
        border-bottom: 1px solid #5b992b;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #9fd574;
        font-weight: bold;
        padding: 6px 20px;
        text-align: center;
        text-shadow: 0 -1px 0 #396715;
        color: #FFF;

        &:active {
          border: 1px solid #20911e;
          box-shadow: 0 0 5px 2px #356b0b inset; 
        }
      }
    }
  }

}

