.footer {
  background: $deep-blue;
  color: #FFF;
  overflow: hidden;
  position: relative;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;

  .footer__icon {
    display: none;

    @media (min-width: 576px) {
      display: inline-block;
      float: left;
      margin-left: 0.75rem;
      font-size: 1.25rem;
    }
  }
}