.hamburger {
  background: transparent;
  width: 44px;
  padding: $hamburger-padding-x $hamburger-padding-y 1px;
  z-index: 10;
  opacity: 1;

  &:hover {
    opacity: 1;
  }

  @media (min-width: 746px) {
    display: none;
  }

  .hamburger-box {
    width: auto;
  }
}

.hamburger-inner {
  background: #FFF;
  width: 26px;
  height: 2px;
  
  &::before,
  &::after {
    background: #FFF;
    width: 26px;
    height: 2px;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}