.mobile-nav {
  background-color: darken($deep-blue, 7%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s linear;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  pointer-events: none;
  z-index: 4;
  padding-top: 66px;

  @media (min-width: 746px) {
    display: none;
  }

  &.show {
  opacity: 1;
  pointer-events: all;

  .mobile-nav__link {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    
    $n: 4;
    $delay: 0.1;

    @for $i from 1 through $n {
      $item-delay: $delay * ($i + 3);
    

      &:nth-of-type(#{$i}) {
        transition-delay: #{$item-delay}s;
      }
    }
  }
}
}

.mobile-nav__link {
  color: lighten($aqua, 30%);
  text-align: center;
  font-size: 1.3215rem;
  letter-spacing: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: 20px;
  text-transform: lowercase;
  opacity: 0;
  transform: translate3d(0, 33%, 0);
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
              transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:focus {
    text-decoration: none;
    color: $aqua;
  }

  &:hover {
    color: $aqua;
  }

  @media (min-width: 568px) and (orientation: landscape) {
    flex-basis: 50%;
  }
}

.shareicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  font-style: normal;
}

.shareicons__item {
  color: lighten($coral, 8%);
  margin: 0 0.5rem;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.5rem;
}