.mobile-nav {
  width: 100vw;
  height: 100%;
  background-color: darken($deep-blue, 7%);//#EEF;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s linear;
  z-index: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  z-index: -1;
  visibility: hidden;

  @media (min-width: 576px) {
    display: none;
  }

  .mobile-nav__link {
    text-align: center;
    font-size: 1.3215rem;
    letter-spacing: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 20px;
    text-transform: lowercase;
    opacity: 0;
    transform: translate3d(0, 33%, 0);
    transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media (min-width: 568px) and (orientation: landscape) {
      flex-basis: 50%;
    }
  }

  .shareicons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 60px 120px;
    font-style: normal;

    .shareicons__item {
      color: $light-gray;
      background: $coral;
      border-radius: 50%;
      width: 1.875rem;
      height: 1.875rem;
      line-height: 1.5rem;

      &:first-child .fa {
        margin: 0 0 0 5px;
      }

      &:nth-child(2) .fa {
        margin: 2px 0 0 3px;
      }

      &:nth-child(3) .fa {
        font-size: 1rem;
        margin: 0 0 0 5px;
      }
    }
  }

  &.show {
    opacity: 1;
    z-index: 4;
    visibility: visible;

    .mobile-nav__link {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      
      $n: 4;
      $delay: 0.1;

      @for $i from 1 through $n {
        $item-delay: $delay * ($i + 3);
      

        &:nth-of-type(#{$i}) {
          transition-delay: #{$item-delay}s;
        }
      }
    }
  }
}