.navbar-brand:hover {
  color: #EEE;
}

.navbar {
  display: none;
  flex-direction: row;
  width: 302px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.1rem;
  text-transform: lowercase;
  padding: 0 0 0 6rem;

  @media (min-width: 576px) {
    display: flex;
  }

  .navbar__link {
    position: relative;
    color: lighten($aqua, 10%);

    &:hover {
      text-decoration: none;
      color: lighten($aqua, 30%);
    }
  }
}