.navbar-brand:hover {
  color: #EEE;
}

.navbar {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  position: relative;
  font-size: 1.1rem;
  text-transform: lowercase;
  flex-basis: 55%;

  @media (min-width: 746px) {
    display: flex;
  }

  @media (min-width: 1146px) {
    flex-basis: 40%;
  }

  .navbar__link {
    position: relative;
    color: lighten($aqua, 10%);

    &.active {
      color: lighten($aqua, 30%);
    }

    &:hover {
      text-decoration: none;
      color: lighten($aqua, 30%);
    }
  }
}