.navbar-brand:hover {
  color: #FFF;
}

.navbar {
  display: none;
  flex-direction: row;
  width: 302px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  letter-spacing: 0.2rem;

  @media (min-width: 576px) {
    display: flex;
  }

  .navbar__link {
    position: relative;
    color: lighten($aqua, 20%);

    &:hover {
      text-decoration: none;
      color: $aqua;
    }

    &:after {
      content: '';
      position: absolute;
      left: 120%;
      top: 0;
      width: 2px;
      height: 24px;
      transform: rotate(20deg);
      border-radius: 2px;
      background: $light-gray;
    }

    &:nth-last-of-type(1) {

      &:after {
        display: none;
      }
    }
  }
}